/* element seletion */
/* A selector targets HTML to apply styles to content.  */

/* h1
a:link
.manythings
#onething
*
.box p
.box p:first-child
h1, h2, .intro 
*/


h1 {
    color: red;
}

/* Later styles replace conflicting styles 
that appear earlier in the stylesheet. 
This is the cascade rule. */
p {
    color: rgb(7, 219, 35);
}

p {
    color: rgb(33, 7, 199);
}



li {
    list-style-type: square;
}

/* descedent combinator */
li em {
    color: rebeccapurple;
}

/* 
A class is rated as being more specific, 
as in having more specificity than the element selector */
/* class selction */
.special {
    color: orange;
    font-weight: bold;
}

/* + (an next-sibling combinator) between the selectors. */
h1+p {
    font-size: 200%;
}

/* the ability to style things based on their state. */
a:link {
    color: rgb(192, 9, 39);
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

body h1+p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}